{
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },

  "env": {
    "browser": false,
    "es6": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],

  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/newline-after-import": ["warn", { "count": 1 }],
    "react/display-name": "off",
    "no-extra-boolean-cast": "off",
    "react/react-in-jsx-scope": "off",
    "prefer-const": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": 0,
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-closing-bracket-location": [
      1,
      {
        "selfClosing": "tag-aligned",
        "nonEmpty": "after-props"
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".tsx"]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  },

  "overrides": [
    //import sorting
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "warn",
          {
            "groups": [
              ["^react"],
              ["^next"],
              ["^(@|components)(/.*|$)"],
              ["^axios|react-redux|uid"],
              ["^\\u0000", "^@?\\w"],
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              ["^.+\\.?(css)$"]
            ]
          }
        ]
      }
    },
    //returned type in functions and functions components
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    }
  ]
}
